absl-py==1.0.0
affine==2.3.0
aiohttp==3.7.4.post0
aiosignal==1.2.0
alabaster==0.7.12
anaconda-client @ file:///home/conda/feedstock_root/build_artifacts/anaconda-client_1632453752331/work
anaconda-navigator==2.1.1
anaconda-project @ file:///home/conda/feedstock_root/build_artifacts/anaconda-project_1632773999114/work
ansi2html==1.6.0
anyio @ file:///D:/bld/anyio_1637705443769/work/dist
appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1603108395799/work
APScheduler==3.6.3
argh @ file:///home/conda/feedstock_root/build_artifacts/argh_1595627874344/work
argon2-cffi @ file:///D:/bld/argon2-cffi_1636021473347/work
arrow @ file:///home/conda/feedstock_root/build_artifacts/arrow_1635261338479/work
arviz @ file:///tmp/build/80754af9/arviz_1614019183254/work
asn1crypto @ file:///home/conda/feedstock_root/build_artifacts/asn1crypto_1595949944546/work
astroid @ file:///D:/bld/astroid_1637796448414/work
astropy @ file:///D:/bld/astropy_1637341186871/work
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
asyncio==3.4.3
atomicwrites @ file:///home/conda/feedstock_root/build_artifacts/atomicwrites_1588182545583/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1620387926260/work
autopep8 @ file:///home/conda/feedstock_root/build_artifacts/autopep8_1635267974115/work
Babel @ file:///home/conda/feedstock_root/build_artifacts/babel_1619719576210/work
backcall==0.2.0
backports.entry-points-selectable==1.1.1
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
Backtesting==0.3.3
backtrader==1.9.76.123
bcrypt @ file:///D:/bld/bcrypt_1636021377696/work
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1631087867185/work
binaryornot==0.4.4
bitarray @ file:///D:/bld/bitarray_1636075095526/work
bkcharts==0.2
black @ file:///home/conda/feedstock_root/build_artifacts/black-recipe_1639405010350/work
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1629908509068/work
bokeh @ file:///D:/bld/bokeh_1637615549616/work
boto==2.49.0
Bottleneck @ file:///D:/bld/bottleneck_1636024469500/work
branca @ file:///home/conda/feedstock_root/build_artifacts/branca_1609346930842/work
Brotli==1.0.9
brotlipy @ file:///D:/bld/brotlipy_1636012392748/work
bt==0.2.9
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1615209429212/work
cachetools==4.2.2
cattrs==1.10.0
cbpro==1.1.4
certifi==2021.10.8
cffi @ file:///D:/bld/cffi_1636046278333/work
cftime @ file:///D:/bld/cftime_1646333182797/work
chardet==3.0.4
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1638815705608/work
circlify==0.14.0
click==8.0.4
click-plugins==1.1.1
cligj @ file:///home/conda/feedstock_root/build_artifacts/cligj_1633637764473/work
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1631273254894/work
clyent==1.2.2
cmdstanpy==0.9.68
colorama==0.4.4
colorcet==3.0.0
comtypes==1.1.10
conda==4.11.0
conda-build==3.21.6
conda-content-trust @ file:///home/conda/feedstock_root/build_artifacts/conda-content-trust_1621370699668/work
conda-pack @ file:///home/conda/feedstock_root/build_artifacts/conda-pack_1611097929029/work
conda-package-handling @ file:///D:/bld/conda-package-handling_1636021844885/work
conda-repo-cli @ file:///tmp/build/80754af9/conda-repo-cli_1620168426516/work
conda-token @ file:///tmp/build/80754af9/conda-token_1620076980546/work
conda-verify==3.4.2
config==0.5.1
configparser==5.2.0
container-app-conf==5.2.2
contextily==1.2.0
contextlib2 @ file:///home/conda/feedstock_root/build_artifacts/contextlib2_1624848568296/work
convertdate==2.4.0
cookiecutter @ file:///home/conda/feedstock_root/build_artifacts/cookiecutter_1621252513699/work
cryptography @ file:///D:/bld/cryptography_1637649026447/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
Cython @ file:///D:/bld/cython_1645125674910/work
cytoolz==0.11.2
daal4py==2021.4.0
dash==2.0.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dask @ file:///home/conda/feedstock_root/build_artifacts/dask-core_1639176667673/work
dataclasses @ file:///home/conda/feedstock_root/build_artifacts/dataclasses_1628958434797/work
dateparser==1.1.0
debugpy==1.5.1
decorator==5.1.0
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
Deprecated==1.2.13
diff-match-patch @ file:///home/conda/feedstock_root/build_artifacts/diff-match-patch_1594679019945/work
discord==1.7.3
discord-py-slash-command==3.0.3
discord.py==1.7.3
distlib==0.3.4
distributed @ file:///D:/bld/distributed_1639183402477/work
docker-pycreds==0.4.0
docopt==0.6.2
docutils @ file:///D:/bld/docutils_1637960764294/work
eli5==0.11.0
entrypoints==0.3
ephem==4.1.3
et-xmlfile==1.0.1
etherscan==0.3.0
etherscan-python @ git+https://github.com/pcko1/etherscan-python.git@e059d7c91071d8999b8aaf90edb9bf7c488a110d
fastcache @ file:///D:/bld/fastcache_1636377218594/work
ffn==0.3.6
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1637070794272/work
Fiona @ file:///C:/Users/lonew/Downloads/Fiona-1.8.21-cp39-cp39-win_amd64.whl
flake8 @ file:///home/conda/feedstock_root/build_artifacts/flake8_1634060871505/work
Flask==2.0.2
Flask-Compress==1.10.1
flatbuffers==2.0
folium @ file:///home/conda/feedstock_root/build_artifacts/folium_1638560701663/work
fonttools @ file:///D:/bld/fonttools_1638544588633/work
frozenlist==1.3.0
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1637975854575/work
future @ file:///D:/bld/future_1635819693853/work
gast==0.4.0
GDAL @ file:///C:/Users/lonew/Downloads/GDAL-3.4.1-cp39-cp39-win_amd64.whl
geographiclib==1.52
geopandas==0.10.2
geopy==2.2.0
gevent @ file:///D:/bld/gevent_1639268043190/work
gitdb==4.0.9
GitPython==3.1.24
glob2==0.7
google==3.0.0
google-auth==2.3.3
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
graphviz==0.19.1
greenlet @ file:///D:/bld/greenlet_1635836959695/work
grpcio==1.42.0
h5py @ file:///D:/bld/h5py_1637964127763/work
halo==0.0.31
HeapDict==1.0.1
hijri-converter==2.2.3
holidays==0.13
holoviews==1.14.7
html5lib @ file:///home/conda/feedstock_root/build_artifacts/html5lib_1592930327044/work
idna==2.8
imagecodecs @ file:///D:/bld/imagecodecs_1637750718032/work
imageio @ file:///home/conda/feedstock_root/build_artifacts/imageio_1639045678895/work
imagesize @ file:///home/conda/feedstock_root/build_artifacts/imagesize_1636492669893/work
imgaug==0.4.0
importlib-metadata @ file:///D:/bld/importlib-metadata_1636431688129/work
importlib-resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1635615662634/work
inflect==5.3.0
inflection @ file:///home/conda/feedstock_root/build_artifacts/inflection_1598089801258/work
iniconfig @ file:///home/conda/feedstock_root/build_artifacts/iniconfig_1603384189793/work
intervaltree==3.0.2
ipykernel==6.5.1
ipython==7.30.0
ipython-genutils==0.2.0
ipywidgets @ file:///home/conda/feedstock_root/build_artifacts/ipywidgets_1631590360471/work
isort @ file:///home/conda/feedstock_root/build_artifacts/isort_1636447814597/work
itsdangerous @ file:///home/conda/feedstock_root/build_artifacts/itsdangerous_1621360792037/work
jdcal==1.4.1
jedi==0.18.1
jellyfish @ file:///D:/bld/jellyfish_1636122355826/work
Jinja2==3.0.3
jinja2-time==0.2.0
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1633637554808/work
json5 @ file:///home/conda/feedstock_root/build_artifacts/json5_1600692310011/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema-meta_1638906784524/work
jupyter @ file:///D:/bld/jupyter_1637233338215/work
jupyter-client==7.1.0
jupyter-console @ file:///home/conda/feedstock_root/build_artifacts/jupyter_console_1616560109969/work
jupyter-core==4.9.1
jupyter-dash==0.4.0
jupyter-server @ file:///home/conda/feedstock_root/build_artifacts/jupyter_server_1639084645710/work
jupyterlab @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_1639150690547/work
jupyterlab-pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1601375948261/work
jupyterlab-server @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_server_1639404907821/work
jupyterlab-widgets @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_widgets_1631590465624/work
kaleido==0.2.1
keras==2.7.0
Keras-Preprocessing==1.1.2
keyring @ file:///D:/bld/keyring_1638203866722/work
kiwisolver @ file:///D:/bld/kiwisolver_1635836893295/work
korean-lunar-calendar==0.2.1
krakenex==2.1.0
lazy-object-proxy @ file:///D:/bld/lazy-object-proxy_1635853444850/work
libarchive-c @ file:///D:/bld/python-libarchive-c_1637969805603/work/dist
libclang==12.0.0
lightgbm==3.2.1
llvmlite==0.37.0
locket==0.2.0
log-symbols==0.0.14
LunarCalendar==0.0.9
lxml @ file:///D:/bld/lxml_1635962209970/work
Mako==1.1.6
mapclassify @ file:///home/conda/feedstock_root/build_artifacts/mapclassify_1627363180059/work
Markdown==3.3.6
MarkupSafe==2.0.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
mccabe==0.6.1
medcam==0.1.21
menuinst @ file:///C:/ci/menuinst_1631733438520/work
mercantile==1.2.1
mglearn==0.1.9
mistune @ file:///D:/bld/mistune_1635844891406/work
mkl-fft==1.3.1
mkl-random==1.2.2
mkl-service==2.4.0
mock @ file:///D:/bld/mock_1635819689256/work
more-itertools @ file:///home/conda/feedstock_root/build_artifacts/more-itertools_1637732846337/work
mpl-finance==0.10.1
mplfinance==0.12.8b9
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1612895720168/work
msgpack @ file:///D:/bld/msgpack-python_1637771538892/work
multidict==6.0.2
multipledispatch==0.6.0
multitasking==0.0.10
munch==2.5.0
munkres==1.1.4
mypy-extensions @ file:///D:/bld/mypy_extensions_1635839923397/work
n26==3.3.0
navigator-updater==0.2.1
nbclassic @ file:///home/conda/feedstock_root/build_artifacts/nbclassic_1635436909771/work
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1637327213451/work
nbconvert @ file:///D:/bld/nbconvert_1636897398749/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1617383142101/work
nest-asyncio==1.5.1
netCDF4 @ file:///D:/bld/netcdf4_1636303787759/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1635253012265/work
nibabel==3.2.1
nltk @ file:///home/conda/feedstock_root/build_artifacts/nltk_1633955089856/work
nose @ file:///home/conda/feedstock_root/build_artifacts/nose_1602434998960/work
notebook @ file:///home/conda/feedstock_root/build_artifacts/notebook_1637122013008/work
numba @ file:///D:/bld/numba_1633674518781/work
numerapi==2.8.1
numexpr @ file:///C:/ci/numexpr_1618856728739/work
numpy==1.20.3
numpydoc @ file:///home/conda/feedstock_root/build_artifacts/numpydoc_1601580905698/work
oauthlib==3.1.1
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
opencv-python==4.5.4.60
opencv-python-headless==4.5.4.60
openpyxl @ file:///home/conda/feedstock_root/build_artifacts/openpyxl_1632332968451/work
opt-einsum==3.3.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1637239678211/work
pandas==1.4.1
pandas-datareader==0.10.0
pandocfilters @ file:///home/conda/feedstock_root/build_artifacts/pandocfilters_1631603243851/work
panel==0.12.6
param==1.12.0
paramiko @ file:///home/conda/feedstock_root/build_artifacts/paramiko_1638179364500/work
parso==0.8.2
partd @ file:///home/conda/feedstock_root/build_artifacts/partd_1617910651905/work
path @ file:///D:/bld/path_1635853379577/work
pathlib2 @ file:///D:/bld/pathlib2_1635859637499/work
pathspec @ file:///home/conda/feedstock_root/build_artifacts/pathspec_1626613672358/work
pathtools==0.1.2
patsy @ file:///home/conda/feedstock_root/build_artifacts/patsy_1632667180946/work
pep8==1.7.1
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1602535608087/work
pickleshare==0.7.5
Pillow @ file:///D:/bld/pillow_1636558980741/work
pipenv==2021.11.23
pipreqs==0.4.11
pkginfo @ file:///home/conda/feedstock_root/build_artifacts/pkginfo_1638813452194/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1630400214373/work
plotly==5.4.0
pluggy==0.13.1
ply==3.11
pmdarima==1.8.5
portpicker==1.2.0
poyo==0.5.0
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1635538335951/work
promise==2.3
prompt-toolkit==3.0.23
protobuf==3.19.1
psutil @ file:///D:/bld/psutil_1635822843562/work
ptpython==3.0.20
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
py @ file:///home/conda/feedstock_root/build_artifacts/py_1636301881863/work
py-range-parse==1.0.5
pyarrow==5.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle @ file:///home/conda/feedstock_root/build_artifacts/pycodestyle_1633982426610/work
pycoingecko==2.2.0
pycosat @ file:///D:/bld/pycosat_1636020483106/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pycryptodome==3.11.0
pyct==0.4.8
pycurl==7.44.1
pydocstyle @ file:///home/conda/feedstock_root/build_artifacts/pydocstyle_1621377123289/work
pyerfa @ file:///D:/bld/pyerfa_1636217523842/work
pyflakes @ file:///home/conda/feedstock_root/build_artifacts/pyflakes_1633634815271/work
Pygments==2.10.0
PyJWT @ file:///home/conda/feedstock_root/build_artifacts/pyjwt_1638819640841/work
pylint @ file:///home/conda/feedstock_root/build_artifacts/pylint_1638563695852/work
pyls-spyder @ file:///home/conda/feedstock_root/build_artifacts/pyls-spyder_1619747398504/work
PyMeeus==0.5.11
pymongo==3.5.1
PyNaCl @ file:///D:/bld/pynacl_1636021084245/work
pyodbc @ file:///D:/bld/pyodbc_1636085640165/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1633192417276/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1636757021002/work
PyPrind==2.11.3
pyproj==3.3.0
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
PyQtChart==5.12
PyQtWebEngine==5.15.5
PyQtWebEngine-Qt5==5.15.2
pyreadline @ file:///D:/bld/pyreadline_1636288672905/work
pyrsistent @ file:///D:/bld/pyrsistent_1636052888715/work
PySimpleGUI==4.55.1
PySocks @ file:///D:/bld/pysocks_1635862562854/work
pystan==2.19.1.1
pytest==6.2.2
pytest-mock==3.6.1
python-binance==1.0.15
python-dateutil==2.8.2
python-lsp-black @ file:///home/conda/feedstock_root/build_artifacts/python-lsp-black_1638380820990/work
python-lsp-jsonrpc @ file:///home/conda/feedstock_root/build_artifacts/python-lsp-jsonrpc_1618530352985/work
python-lsp-server @ file:///home/conda/feedstock_root/build_artifacts/python-lsp-server_1639432612016/work
python-slugify @ file:///home/conda/feedstock_root/build_artifacts/python-slugify_1620267765676/work
python-telegram-bot==13.10
pytimeparse==1.1.8
pytorch-ignite==0.4.7
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
pyviz-comms==2.1.0
PyWavelets @ file:///D:/bld/pywavelets_1638210034445/work
pywin32==302
pywin32-ctypes @ file:///D:/bld/pywin32-ctypes_1635826692159/work
pywinpty @ file:///D:/bld/pywinpty_1637030120403/work/target/wheels/pywinpty-1.1.6-cp39-none-win_amd64.whl
PyYAML==5.4.1
pyzmq==22.3.0
QDarkStyle @ file:///tmp/build/80754af9/qdarkstyle_1617386714626/work
qrcode==7.3.1
qstylizer @ file:///home/conda/feedstock_root/build_artifacts/qstylizer_1627619480283/work/dist/qstylizer-0.2.1-py2.py3-none-any.whl
QtAwesome @ file:///home/conda/feedstock_root/build_artifacts/qtawesome_1638212842953/work
qtconsole @ file:///home/conda/feedstock_root/build_artifacts/qtconsole_1639432716385/work
QtPy @ file:///home/conda/feedstock_root/build_artifacts/qtpy_1638557980349/work
rasterio @ file:///C:/Users/lonew/Downloads/rasterio-1.2.10-cp39-cp39-win_amd64.whl
ray==1.9.2
redis==4.1.1
regex @ file:///D:/bld/regex_1636504281500/work
requests==2.26.0
requests-cache==0.9.1
requests-oauthlib==1.3.0
resources==0.0.1
responses==0.13.3
retrying==1.3.3
rope @ file:///home/conda/feedstock_root/build_artifacts/rope_1637602230800/work
rsa==4.8
ruamel-yaml-conda @ file:///D:/bld/ruamel_yaml_1636009331460/work
ruamel.yaml==0.17.17
ruamel.yaml.clib==0.2.6
scikit-image @ file:///D:/bld/scikit-image_1639059626883/work
scikit-learn==0.24.2
scikit-learn-intelex==2021.20211123.164632
scipy==1.7.1
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1629095986539/work
Send2Trash @ file:///home/conda/feedstock_root/build_artifacts/send2trash_1628511208346/work
sentry-sdk==1.5.1
setuptools-git==1.2
setuptools-scm==6.3.2
shap==0.40.0
Shapely==1.8.0
shortuuid==1.0.8
simplegeneric==0.8.1
SimpleITK==2.1.1
singledispatch @ file:///home/conda/feedstock_root/build_artifacts/singledispatch_1614388326733/work
sip==4.19.25
six==1.16.0
slicer==0.0.7
smmap==5.0.0
sniffio @ file:///D:/bld/sniffio_1635844947979/work
snowballstemmer @ file:///home/conda/feedstock_root/build_artifacts/snowballstemmer_1637143057757/work
snuggs==1.4.7
sortedcollections @ file:///home/conda/feedstock_root/build_artifacts/sortedcollections_1611011426343/work
sortedcontainers @ file:///home/conda/feedstock_root/build_artifacts/sortedcontainers_1621217038088/work
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1638550740809/work
Sphinx @ file:///home/conda/feedstock_root/build_artifacts/sphinx_1638044012657/work
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-htmlhelp_1621704829796/work
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-serializinghtml_1637000050264/work
sphinxcontrib-websupport @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-websupport_1636966052463/work
spinners==0.0.24
spyder @ file:///D:/bld/spyder_1638203290025/work
spyder-kernels @ file:///D:/bld/spyder-kernels_1637645106892/work
SQLAlchemy @ file:///D:/bld/sqlalchemy_1639086326678/work
stargazer==0.0.5
statsmodels==0.12.2
streamz==0.6.3
subprocess32==3.5.4
sympy @ file:///D:/bld/sympy_1636237289981/work
ta==0.8.0
TA-Lib @ file:///D:/bld/ta-lib_1637267139956/work
tables==3.6.1
tabulate==0.8.9
TBB==0.2
tblib @ file:///home/conda/feedstock_root/build_artifacts/tblib_1616261298899/work
tenacity==8.0.1
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.7.0
tensorflow-estimator==2.7.0
tensorflow-io-gcs-filesystem==0.22.0
termcolor==1.1.0
terminado @ file:///D:/bld/terminado_1636052373407/work
testpath @ file:///home/conda/feedstock_root/build_artifacts/testpath_1621261527237/work
text-unidecode==1.3
textdistance @ file:///home/conda/feedstock_root/build_artifacts/textdistance_1635354148551/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1633102299089/work
three-merge @ file:///home/conda/feedstock_root/build_artifacts/three-merge_1595515817927/work
tifffile @ file:///home/conda/feedstock_root/build_artifacts/tifffile_1635944860688/work
tikzplotlib==0.9.16
tinycss @ file:///home/conda/feedstock_root/build_artifacts/tinycss_1617478862138/work
tinycss2 @ file:///home/conda/feedstock_root/build_artifacts/tinycss2_1637612658783/work
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1604308577558/work
tomli==1.2.2
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1636177962100/work
torch==1.10.0+cu113
torchaudio==0.10.0+cu113
torchmetrics==0.6.0
torchsample @ git+https://github.com/ncullen93/torchsample@ea4d1b3975f68be0521941e733887ed667a1b46e
torchsampler @ https://github.com/ufoym/imbalanced-dataset-sampler/archive/master.zip
torchsummary==1.5.1
torchvision==0.11.1+cu113
tornado==6.1
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1632160078689/work
tradingview-ta==3.2.10
traitlets==5.1.1
tweepy==4.5.0
typed-ast @ file:///D:/bld/typed-ast_1638670953500/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1638334978229/work
tzdata==2021.5
tzlocal==4.1
ujson==5.1.0
unicodecsv==0.14.1
Unidecode @ file:///home/conda/feedstock_root/build_artifacts/unidecode_1631795222793/work
url-normalize==1.4.3
urllib3==1.26.8
v==0.0.0
virtualenv==20.10.0
virtualenv-clone==0.5.7
voluptuous==0.12.2
wandb==0.12.7
watchdog @ file:///D:/bld/watchdog_1636266667075/work
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.59.0
websockets==9.1
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1621518206714/work
wget==3.2
whichcraft==0.6.1
widgetsnbextension @ file:///D:/bld/widgetsnbextension_1637174379490/work
win-inet-pton @ file:///D:/bld/win_inet_pton_1635832858406/work
win-unicode-console @ file:///D:/bld/win_unicode_console_1636286541809/work
wincertstore==0.2
wrapt @ file:///D:/bld/wrapt_1635836536035/work
xarray @ file:///home/conda/feedstock_root/build_artifacts/xarray_1646254587173/work
xlrd @ file:///home/conda/feedstock_root/build_artifacts/xlrd_1610224409810/work
XlsxWriter @ file:///home/conda/feedstock_root/build_artifacts/xlsxwriter_1635765417798/work
xlwings @ file:///D:/bld/xlwings_1638567482333/work
xlwt==1.3.0
xmltodict==0.12.0
xyzservices @ file:///home/conda/feedstock_root/build_artifacts/xyzservices_1644514614795/work
yapf @ file:///home/conda/feedstock_root/build_artifacts/yapf_1618790300295/work
yarg==0.1.9
yarl==1.7.2
yaspin==2.1.0
yfinance==0.1.70
zict==2.0.0
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1633302054558/work
zope.event @ file:///home/conda/feedstock_root/build_artifacts/zope.event_1600479883063/work
zope.interface @ file:///D:/bld/zope.interface_1635859661503/work
